.header {
  height: 96px;
  border-bottom: 1px solid #c8ccdd;
  display: flex;
  padding: 16px 40px;
  align-items: center;
  width: 100%;
  margin-bottom: 36px;
  position: fixed;
  top: 0;
  left: 0;
}

.cat-wrapper {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}
